html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

#container {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(142, 170, 255);
}

#search {
    display: flex;
    padding: 20px;
    background-color: rgb(106, 173, 232);
}

#search label {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
    list-style-type: none;
}